<div class="top-buttons">
    <button class="btn btn-secondary" (click)="goToPreviousPokemon()" *ngIf="previousPokemon"
        [style.backgroundColor]="previousPokemonTypeColor">
        <img [src]="previousPokemon.sprites.front_default" alt="{{ previousPokemon.name }}" class="img-fluid mb-1">
        <br>
        <span>{{ previousPokemon.name | capitalize }}</span>
    </button>
    <button style="opacity: 0;"></button>
    <button class="btn btn-secondary" (click)="goToNextPokemon()" *ngIf="nextPokemon"
        [style.backgroundColor]="nextPokemonTypeColor">
        <img [src]="nextPokemon.sprites.front_default" alt="{{ nextPokemon.name }}" class="img-fluid mb-1">
        <br>
        <span>{{ nextPokemon.name | capitalize }}</span>
    </button>
</div>
<div class="row pokemon-details-container">
    <div class="pokemon-details-card">
        <div [ngClass]="['card', typeClass]" style="max-width: 500px; margin: auto;">
            <div [ngClass]="['card-header', 'bg-' + typeClass]" class="text-center">
                <h2>{{ pokemon.name | capitalize }}</h2>
            </div>
            <div class="card-body text-center">
                <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" class="img-fluid mb-3">
                <p><strong>Pokédex Number:</strong> #{{ pokemon.id }}</p>
                <p><strong>Height:</strong> {{ heightInMeters }} m</p>
                <p><strong>Weight:</strong> {{ weightInKilograms }} kg</p>
                <p><strong>Abilities:</strong></p>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let ability of pokemon.abilities" class="list-group-item">
                        <a [routerLink]="['/ability', ability.ability.name]" [style.color]="primaryTypeColor"
                            class="glow">{{ ability.ability.name | capitalize }}</a>
                    </li>
                </ul>
                <p class="mt-3"><strong>Types:</strong></p>
                <div class="d-flex justify-content-center">
                    <img *ngFor="let type of pokemon.types" [src]="'assets/icons/' + type.type.name + '.png'"
                        [alt]="type.type.name" class="type-icon">
                </div>
                <p class="mt-3"><strong>Category:</strong> {{ category }}</p>
                <p class="mt-3"><strong>Pokédex Entry:</strong></p>
                <p>{{ description }}</p>
                <p class="mt-3"><strong>Evolutions:</strong></p>
                <ul class="list-group">
                    <li *ngFor="let evolution of evolutionChain" class="list-group-item">
                        <a [routerLink]="['/pokemon', evolution]" [style.color]="primaryTypeColor" class="glow">{{
                            evolution | capitalize }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>