<div *ngIf="ability">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">
                    <h2>{{ abilityName | capitalize }}</h2>
                </div>
                <div class="card-body">
                    <p><strong>Description:</strong></p>
                    <p>{{ description }}</p>
                    <p><strong>Pokémon with this Ability:</strong></p>
                    <div class="row">
                        <div *ngFor="let pokemon of pokemonList" class="col-md-3 mb-4">
                            <a [routerLink]="['/pokemon', pokemon.name]" class="pokemon-link glow">
                                <div class="pokemon-box" [style.backgroundColor]="pokemon.primaryTypeColor">
                                    <img [src]="pokemon.sprite" alt="{{ pokemon.name }}" class="pokemon-sprite">
                                    <h5>{{ pokemon.name | capitalize }}</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>