<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Pokédex</h2>
        <input type="text" class="form-control mb-3" placeholder="Search Pokémon" [(ngModel)]="searchText"
            (input)="applyFilters()">

        <div class="row mb-3">
            <div class="col">
                <select class="form-control" [(ngModel)]="selectedType" (change)="filterByType()">
                    <option value="">All Types</option>
                    <option *ngFor="let type of pokemonTypes" [value]="type.name">{{ type.name | capitalize }}</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" [(ngModel)]="selectedGeneration" (change)="filterByGeneration()">
                    <option value="">All Generations</option>
                    <option *ngFor="let generation of generations" [value]="generation.id">{{ generation.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let pokemon of filteredPokemonList()" class="col-md-3 mb-4">
                <a [routerLink]="['/pokemon', pokemon.name]" class="pokemon-link glow">
                    <div class="pokemon-box" [style.backgroundColor]="pokemon.primaryTypeColor">
                        <img [src]="pokemon.sprite" alt="{{ pokemon.name }}" class="pokemon-sprite">
                        <h5>{{ pokemon.name | capitalize }}</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>