body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

.pokedex-background {
    background: linear-gradient(to bottom right, #ffcc00 40%, #ff3333 60%);
    background-size: cover;
    background-position: center;
    min-height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex-screen {
    background-color: rgb(62, 50, 73);
    border: 5px solid #2980b9;
    border-radius: 10px;
    width: 95%;
    max-width: 1200px;
    min-height: 100vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.container {
    position: relative;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
    background-color: rgb(62, 50, 73);
}

.pokemon-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(62, 50, 73);
}

.pokemon-details-card {
    max-width: 500px;
    margin: 20px auto;
    flex-grow: 1;
    background-color: rgb(62, 50, 73);
}

.top-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.top-buttons .btn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.navbar-logo {
    height: 40px;
    width: auto;
    vertical-align: middle;
}

.footer {
    background-color: rgb(62, 50, 73);
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer-content {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
}

.top-buttons .btn span {
    text-decoration: none;
}

a.glow {
    text-decoration: none;
}

a.glow:hover {
    text-decoration: underline;
}